<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright (C) 2015 Kodestruct Inc
-->
<packages>
  <package id="Clipper" version="6.4.0" targetFramework="net45" />
  <package id="Kodestruct.Common" version="0.0.11.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
</packages>